@import "../variables.scss";

/* Generic styling for page headings */
h3 {
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Generic styling for the main body of page */
.greenslant {
    padding: 7vh 58px;
    
    @include phone() {
        padding: 7vh 3px;

        div,p {
            padding: 0 30px;
        }
    }
    clip-path: polygon(0 5vh, 100% 0, 100% calc(100% - 5vh), 0 100%); 
}


/* Very first part of the page, contains headline image and name */
.homepage_statement {
    .statement_inner {
        display: flex;
        margin: 4% 8%;

        @include tablet() {  /* Move image to below name and headline statement*/
            flex-direction: column;
        }

        .statement_text {
            display: flex;
            flex-direction: column;

            @include desktop() {
                margin-right: 50px;
            }
            
            h1.my_name {
                font-size: 8vw;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin: 0;

                @include desktop() {
                    flex-shrink: 0;
                }

                @include tablet() {
                    font-size: 18vw;
                    text-align: center;
                }
            }

            h2.my_headline {
                font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                color: darkgray;
                
                @include desktop() {
                    font-size: 1vw;
                }
            }

            p.my_key_interests {
                @include ultrawide() {
                    font-size: 0.8vw;
                }
            }
        }

        .main_image {
            @include desktop() {
                margin-left: auto;
                max-width: 50%;
            }

            @include tablet() {
                max-width: 600px;
                align-self: center;
            }
        }
    }
}


/* Specific to Hi there, .... */
.about_me_overview {
    padding: 7vh 58px;

    h3 {
        text-align: left;
    }

    p {
        font-family: "Nunito Sans"; /* Imported from Google Fonts in index.html */
        font-size: 18px;
    }
}


/* Specific styling for the two filled sections */
.compsci_related {
    .greenslant {
        background-color: $secondary1;
    }

    h3, h4 {
        color: $primary1;
    }
    
    .oss_icon { /* Small images showing what is running in my home-lab */
        height: 32px;
        margin-left: 10px;
    }
}

.other_interests {
    .greenslant {
        background-color: $secondary2;
    }

    h3, h4 {
        color: $primary2;
    }
}


/* Styling related to the contact footer */
.contact_me {
    background-color: $secondary3;
    color: $primary3;
    clip-path: polygon(0 0, 100% 5vh, 100% 100%, 0 100%); 
    padding: 6vh 58px;

    .social_link {
        display: flex;
        align-items: center;
        margin: 5px;

        @include phone {
            flex-direction: column;
        }

        img { /* Social icons */
            height: 20px;
            margin-right: 4px;
        }

        a {
            color: #1A535C;
            text-decoration: none;
            margin-left: 3px;
        }
    }
}