<div class="homepage_statement">
    <div class="statement_inner">
        <div class="statement_text">
            <h1 class="my_name">Will Hall</h1>
            <h2 class="my_headline">Computer Science Student &#64; The University of York</h2>
            <p class="my_key_interests">Lover of Linux & Open Source ♥️, Electronics and Raspberry Pi 🥧, Passionate about de-carbonisation & the energy transition 🗲, Cactus lover 🌵, Keen chef & happily vegetarian since 2022 🧑‍🍳.</p>
        </div>
        
        <svg viewBox="0 0 81 58" class="main_image"> <!--viewBox defines the minimum and maximum coordinate system. Set to width of mask shape-->
            <defs>
                <clipPath id="shape">
                <path fill="none" d="m 7.273495,10.115994 c 0,0 18.48323,-22.454943 53.69307,-0.0168 35.20984,22.438184 14.62803,38.497668 3.49735,42.665488 -11.13067,4.16783 -27.44074,8.86029 -51.89705,-4.4117 C -11.889431,35.080988 7.273495,10.115954 7.273495,10.115954 Z" />
                </clipPath>
                
            </defs>
            <g clip-path="url(#shape)">
                <image width="90" height="120" transform="translate(0 -18)" xlink:href="../../assets/me-xmas-tree.jpg" ></image>
            </g>
        
        </svg>
    </div>
</div>

<!-- Overview -->
<div class="about_me_overview">
    <h3>👋 Hi there,</h3>
    <p>Thanks for visiting! My name is Will Hall, I'm a first-year undergraduate Computer Science student at the University of York. In 4 words, I'm motivated, hard-working, confident & conscientious. I'm a team player but I'm not afraid to fight my battles for the things I care about. I try to live my life by my two guiding policies: <b>treat others as you wish to be treated</b> and <b>man in the mirror</b> (i.e. after the Michael Jackson song: if you want to make the world a better place, take a look at yourself and make a change).</p>
</div>

<!-- Green Section: Primary 1 Section -->
<div class="compsci_related">
    <div class="about_misc greenslant">
        <h3>- Skills -</h3>
        <p>My interest within Computer Science is broad and I've been known to dabble in everything from electronics to Android app development. Many of my most recent projects centre around web development with my framework of choice being Angular. Python was my first love and to this day it remains the language I am most confident working with; consequently, my backend of choice for web development is Django (and Django REST framework for making API interfaces).</p>
    
        <app-timeline [myEntries]="skills_entries" class="palette1"></app-timeline>
    
        <div>
            <h4>Running in my HomeLab</h4>
            <img class="oss_icon" src="https://github.com/walkxcode/dashboard-icons/blob/main/png/home-assistant.png?raw=true" alt="Home Assistant">
            <img src="https://github.com/walkxcode/dashboard-icons/blob/main/png/firefly.png?raw=true" alt="Firefly III" class="oss_icon">
            <img src="https://github.com/walkxcode/dashboard-icons/blob/main/png/matrix.png?raw=true" alt="Matrix" class="oss_icon">
            <img src="https://github.com/walkxcode/dashboard-icons/blob/main/png/grafana.png?raw=true" alt="Grafana" class="oss_icon">
            <img src="https://github.com/walkxcode/dashboard-icons/blob/main/png/prometheus.png?raw=true" alt="Prometheus" class="oss_icon">
            <img src="https://github.com/walkxcode/dashboard-icons/blob/main/png/ntfy.png?raw=true" alt="Ntfy" class="oss_icon">
            <img src="https://github.com/walkxcode/dashboard-icons/blob/main/png/proxmox.png?raw=true" alt="Proxmox" class="oss_icon">
            <img src="https://github.com/walkxcode/dashboard-icons/blob/main/png/grocy.png?raw=true" alt="Grocy" class="oss_icon">
            <img src="https://github.com/walkxcode/dashboard-icons/blob/main/png/nextcloud.png?raw=true" alt="Nextcloud" class="oss_icon">
            <img src="https://github.com/walkxcode/dashboard-icons/blob/main/png/octoprint.png?raw=true" alt="OctoPrint" class="oss_icon">
            <img src="https://github.com/walkxcode/dashboard-icons/blob/main/png/portainer.png?raw=true" alt="Portainer" class="oss_icon">
            <img src="https://github.com/walkxcode/dashboard-icons/blob/main/png/webmin.png?raw=true" alt="Webmin" class="oss_icon">
            <img src="https://github.com/walkxcode/dashboard-icons/blob/main/png/dashy.png?raw=true" alt="Dashy" class="oss_icon">
            <img src="https://github.com/walkxcode/dashboard-icons/blob/main/png/traggo.png?raw=true" alt="Traggo" class="oss_icon">
        </div>
    </div>

    <div class="projects main_content">
        <h3>- Projects -</h3>
        <app-carousel class="palette1">
            <app-carousel-card
                title="Portfolio Website"
                date="Apr 2024 - Present"
                image="/assets/Logo Only Full.png"
                [links]="[{
                    icon: '/assets/logo/social/gitlab.svg',
                    linkName: 'GitLab',
                    url: 'https://gitlab.com/Lime-Parallelogram/portfolio-website'
                }]"
                [tags]="['Angular']"
            >
            This very site. All components have been written from scratch using the Angular framework. I have tried to implement all expected behaviors for each component, such as the position indicator on this card deck or clickable left and right scroll arrows. I have tried to make the site visually pleasing but simple to navigate on both mobile and desktop platforms.
            </app-carousel-card>

            <app-carousel-card
                title="OctoPrint Multi-Instance"
                date="Feb 2023 - Present"
                image="/assets/logo/opmi_logo.png"
                [links]="[{
                    icon: '/assets/logo/social/gitlab.svg',
                    linkName: 'GitLab',
                    url: 'https://gitlab.com/Lime-Parallelogram/octoprint-multi-instance'
                }]"
                [tags]="['Angular', 'Django']"
            >
            A browser-based application designed to make it easy to run and display multiple instances of OctoPrint on the same physical machine. This has been developed primarily for my secondary school's technology department; it provides access to each of the OctoPrint instances, handles the multiple serial ports and provides a management interface to add and remove printers. 
            </app-carousel-card>

            <app-carousel-card
                title="York Energy Monitoring"
                date="Dec 2023 - Present"
                image="/assets/energy_monitor.png"
                [links]="[{
                    icon: '/assets/logo/social/gitlab.svg',
                    linkName: 'GitLab',
                    url: 'https://gitlab.com/Lime-Parallelogram/octoprint-multi-instance'
                }]"
                [tags]="['Data', 'InfluxDB']"
            >
            Green Impact is a project run by the organization Students Organizing for Sustainability aiming to promote sustainability actions within businesses and academic institutions. As part of this, I proposed a project to work with energy data, building this into visualizations for both for private scrutiny and to be displayed on the department's video wall. I worked with the University's building management services in order to gain access to pre-existing data and have written custom Python libraries to scrape this information into an InfluxDB database.
            </app-carousel-card>

            <app-carousel-card
                title="Grocy Checkout"
                date="Dec 2023 - Present"
                image="/assets/barcode.png"
                [links]="[{
                    icon: '/assets/logo/social/gitlab.svg',
                    linkName: 'GitLab',
                    url: 'https://gitlab.com/Lime-Parallelogram/systemslink-python'
                }]"
                [tags]="['Arduino', 'Electronics']"
            >
            This project involves a custom ESP32-based device that connects via Bluetooth to a barcode scanner and via WiFi to a <a href="https://grocy.info/">Grocy</a> server. This allows me to keep an up-to-date food inventory with minimal effort, thus making our online shopping easier and hopefully reducing food waste. The biggest challenge with this project was interacting with all required hardware given the constrained system resources of the ESP32.
            </app-carousel-card>

            <app-carousel-card
                title="York Dialectic Union Website"
                date="Oct 2023 - Present"
                image="/assets/logo/ydu_logo.png"
                [links]="[{
                    icon: '/assets/logo/social/github.svg',
                    linkName: 'GitHub',
                    url: 'https://github.com/yordevs/DU-Project-Backend'
                }]"
                [tags]="['Django', 'React']"
            >
            Organized by YorDevs, this project involved us building a website for a fellow society at the University. I worked mostly on the back-end: writing and documenting a Django API that would provide features like event synchronization from EventBrite and a gallery of images from Flickr. Having taken up the society presidency, I also was responsible for managing the team through the final stages of the project.
            </app-carousel-card>

            <app-carousel-card
                title="OctoClock (Parallel Time)"
                date="Dec 2021 - Mar 2023"
                image="/assets/logo/octoclock_logo.png"
                [links]="[{
                    icon: '/assets/logo/social/github.svg',
                    linkName: 'GitHub',
                    url: 'https://github.com/Lime-Parallelogram/OctoClock'
                }]"
                [tags]="['Python', 'Raspberry Pi', 'Electronics']"
            >
            This was an idea I originally developed as a gift for my School's tech department. It consists of a glass clock with 24 addressable LEDs that are to show a range of relevant information; primarily the amount of time remaining on each of the currently active 3D printers. As part of my A-Level NEA project, I endeavoured to update and improve the functionality of the clock's software. In its current state, things do work and I scored well in the assessment but things are a bit flakey and I would like to redevelop the software again.
            </app-carousel-card>

            <app-carousel-card
                title="Python Code Jam"
                date="Jun 2022 - Jun 2022"
                image="/assets/logo/python_discord.png"
                [links]="[{
                    icon: '/assets/logo/social/github.svg',
                    linkName: 'GitHub',
                    url: 'https://github.com/Lime-Parallelogram/cj2022-stately-satyrs'
                }]"
                [tags]="['Python', 'Sockets']"
            >
            Run by the Python discord community, the Code Jam brings people from around the world into small teams and gives them one week too produce a project based on a prompt. I lead our team and the prompt was 'Its not a bug, its a feature.' I proposed a project based on the idea of a 'bug' as a spy device. We made a dictation notes app that covertly sent recordings to a listener application. I was in charge of working on the transmission of audio using websockets. It wasn't particularly smooth but it did work.
            </app-carousel-card>

            <app-carousel-card
                title="Pirate Game"
                date="Jun 2021 - Jun 2022"
                image="/assets/logo/pirate_game_logo.png"
                [links]="[{
                    icon: '/assets/icons8-link-50.png',
                    linkName: 'Website',
                    url: 'https://pirategame.live'
                }, {
                    icon: '/assets/logo/social/github.svg',
                    linkName: 'GitHub',
                    url: 'https://github.com/A-Level-Personal-Code-Collab/PirateGame'
                }]"
                [tags]="['Django', 'Flask', 'VPS']"
            >
            One of the first WebDev projects I worked on was the PirateGame, an online re-implementation of a classic classroom game. It is an online multiplayer game based on a 6x6 grid filled with actions and a random spinner. Implementing the live functionality with websockets was a great learning experience and working with one of my friends from school meant that I was able to properly gain experience using git for version management and collaboration.
            </app-carousel-card>

            <app-carousel-card
                title="Pi Wars"
                date="Aug 2019 - Mar 2020"
                image="/assets/piwars.jpg"
                [links]="[{
                    icon: '/assets/icons8-link-50.png',
                    linkName: 'Website',
                    url: 'https://pirategame.live'
                }]"
                [tags]="['Raspberry Pi', 'Robotics', 'Electronics']"
            >
            With the same group of friends as worked on the boat, Otter Robotics entered the PiWars competition. We had to build a robot, powered by Raspberry Pi, that was capable of completing a number of tasks. Unfortunately by this point, my friends had begun to find their true interests which lay away from robotics. The project taught me a lot though: from the importance of time management skills to the realization that there is no shame in using pre-built components - making a smooth-running gearbox from scratch is hard.
            </app-carousel-card>

            <app-carousel-card
                title="O.V.R Abenteuer"
                date="Apr 2017 - Aug 2019"
                image="/assets/boat.jpg"
                [links]="[{
                    icon: '/assets/icons8-link-50.png',
                    linkName: 'Website',
                    url: 'https://otterrobotics.wixsite.com/otterrobotics'
                }]"
                [tags]="['Raspberry Pi', 'Robotics', 'Electronics']"
            >
            This project kept me occupied for nearly 3 years of my school career. I brought together a group of my friends and, under the name 'Otter Robotics', we worked on building a Raspberry Pi powered RC boat. The boat was named O.R.V Abenteuer after my love for speaking German at the time. As 'Otter Robotics', we did a lot of documentation of the project: writing blogs, posting on social media and even making YouTube videos. I look back fondly on these times spent with friends. You can find a link to the Otter Robotics website which is still hosted by Wix even though we've moved on.
            </app-carousel-card>

            <app-carousel-card
                title="YouTube Channel"
                date="Feb 2017 - Oct 2019"
                image="/assets/logo/youtube_logo.png"
                [links]="[{
                    icon: '/assets/icons8-link-50.png',
                    linkName: 'YouTube',
                    url: 'https://www.youtube.com/channel/UCE7sAmHufezaO9AVxaCoB2A'
                }]"
                [tags]="['Raspberry Pi', 'Linux', 'Python', 'Java']"
            >
            Making videos is something I keep meaning to get back into. I started making videos for one simple reason: I spent a long time researching how to do something and I wanted to make it easier for the next person to find this information. I would always put 100% effort into my content as I know how much difference that makes to me trying to follow along as a viewer. I would meticulously edit and re-recorded things many times over until I was happy with the result.
            </app-carousel-card>

            <app-carousel-card
                title="Dodgebot & Limebot"
                date="Jan 2016 - Mar 2017"
                image="/assets/dodgebot.jpg"
                [links]="[{
                    icon: '/assets/icons8-file-50.png',
                    linkName: 'Dodgebot Manual',
                    url: '/assets/dodgebot_manual.pdf'
                }]"
                [tags]="['Python', 'Raspberry Pi', 'Robotics']"
            >
            You always remember your first projects; these were mine. Limebot preceded Dodgebot and was built on the GoPiGo platform. Both were built alongside a friend from school, with me coordinating the project and doing all of the programming. Its so interesting to look back at both the impressive and absurd quirks that I used to make these things work back then. The picture is of Dodgebot; about which you can read more by viewing the 'manual' that I wrote back then.
            </app-carousel-card>

            <app-carousel-card
                title="Other Smaller Projects"
                date="Nov 2019 - present"
                image="/assets/icons8-file-50.png"
                [links]="[]"
                [tags]="[]"
            >
            <b>Google Domains DDNS Updater (2022)</b> - Docker container to update DDNS records on the now defunct Google Domains <br>
            <b>Power Warden (2022)</b> - Discord Bot to turn on my Minecraft server via Home Assistant <br>
            <b>TONKS Watchdog (2020)</b> - Discord Bot linking with SJL Revision Shares <br>
            <b>SJL Revision Shares (2019)</b> - Shared folder setup on my NAS for school friends to share revision
            </app-carousel-card>
        </app-carousel>
    </div>
</div>

<!-- Other Interests: Secondary 2 Colour -->
<div class="other_interests">
<div class="greenslant">
    <h3>- Other Interests -</h3>
    <p>I also have a number of other interests beyond Computer Science.</p>
    <app-timeline [myEntries]="other_interests_entries" class="palette2"></app-timeline>
</div>
</div>


<div class="main_content affiliations">
    <h3>- Involvements & Affiliations -</h3>
    <app-carousel class="palette2">
        <app-carousel-card
        title="Parallel Computing Services"
        subtitle="Business Venture"
        date="Jun 2021 - Present"
        image="/assets/logo/pcs_logo.png"
        image_alt="Parallel Computing Services Logo"
        [links]="[{
            icon: '/assets/icons8-link-50.png',
            linkName: 'Website',
            url: 'https://pcs.limeparallelogram.uk/'
        }]">
        I've always been tech support for my friends and family and I was encouraged by my parents to offer my services out to the wider community. I have been working under the 'Parallel Computing Services' name and have undertaken a variety tasks from PC upgrades to 3D printer repairs. Its been a good way for me to develop my interaction with members of the public and has been helpful in improving my record keeping.
        </app-carousel-card>

        <app-carousel-card
        title="YorDevs"
        subtitle="Society President"
        image="/assets/logo/yordevs_logo.png"
        image_alt="YorDevs Logo"
        date="Mar 2024 - Present"
        [links]="[{
            icon: '/assets/icons8-link-50.png',
            linkName: 'Website',
            url: 'https://yordevs.uk/'
        }]">
        YorDevs is the University of York Web & App Development society. In my term as president, I'll be tasked with managing and organizing society events, coordinating programming projects and investigating ways to improve participation. I will also be placing an increased focus on extending and promoting the use of open source software - both within the society and beyond.
        </app-carousel-card>

        <app-carousel-card
        title="University of York"
        subtitle="Computer Science MEng"
        image="/assets/logo/uoy_logo.png"
        date="Sep 2023 - Present">
        I am currently studying an undergraduate degree in Computer Science at the University of York. I've had an amazing time thus far: made many great friends and connections, learned lots and have got involved with a variety different opportunities. During the 3rd year of my degree, I'm intending to participate in the Year in Industry programme where I will spend the year as a full time employee at a company of my choice.
        </app-carousel-card>

        <app-carousel-card
        title="SOS Green Impact"
        subtitle="Project Participant"
        image="/assets/logo/green_impact_logo.png"
        date="Oct 2023 - Apr 2024"
        [links]="[{
            icon: '/assets/icons8-link-50.png',
            linkName: 'Website',
            url: 'https://greenimpact.nus.org.uk/'
        }]">
        The Green Impact project is administered by 'Students Organising for Sustainability' and is a campaign that spans multiple universities and institutions across the country. It aims to promote engagement with sustainability through small actions conducted at a departmental level. I've been working with the Computer Science department where my main focus has been spotlighting energy consumption within our building: see the 'Green Impact Energy Monitoring' project.
        </app-carousel-card>

        <app-carousel-card
        title="York Global Affairs"
        subtitle="Member"
        image="/assets/logo/yga_logo.png"
        date="Sep 2023 - Present"
        [links]="[{
            icon: '/assets/icons8-link-50.png',
            linkName: 'Website',
            url: 'https://yorkglobalaffairs.com/'
        }]">
        Alongside computer science, I'm also very interested in politics and current affairs. I'm an active member of York Global Affairs, a society that spotlights a variety of lesser known events and political situations happening around the world. Very often this involves an external speaker giving an overview of the topic and discussing the geopolitical context surrounding the region or event.
        </app-carousel-card>

        <app-carousel-card
        title="SJL Code Club"
        subtitle="Leader"
        image="/assets/logo/sjlcc_logo.png"
        date="Oct 2021 - Jul 2022">
        In VI Form, myself and some friends decided to launch a code club for the younger students. We taught them basic web development including HTML and CSS through a mixture of stand-up slide show teaching, help sheets and 1-to-1 explanations. I set up a simple development environment such that the students could edit their websites and the results would be hosted on the public internet so that they could share their work with friends and family. It very well received and we were even asked to deliver a session to a local primary school.
        </app-carousel-card>

        <app-carousel-card
        title="Otter Robotics"
        subtitle="Robotics Group"
        image="/assets/logo/or_logo.png"
        date="May 2017 - Mar 2020"
        [links]="[{
            icon: '/assets/icons8-link-50.png',
            linkName: 'Website',
            url: 'https://otterrobotics.wixsite.com/otterrobotics'
        }]">
        Otter Robotics was the 'company name' that my friends and I used for our robotics projects. I spent many an hour laser cutting acrylic, editing videos for the Otter Robotics YouTube channel or dreaming up ambitious fundraising events for our next project. Unfortunately, the team have now disbanded and the Otter Robotics brand is behind us but I have fond memories of the time spent working on it. You can find an archive version of the website below.
        </app-carousel-card>
    </app-carousel>
</div>

<!-- Page footer - Contact me -->
<div class="contact_me">
    <h3>- Contact -</h3>
    <p>In line with my views on FOSS, you won't find me on any of the major social media platforms.</p>
    <div class="social_link"><img src="/assets/logo/social/mastodon.svg" alt="Mastodon Logo">Follow me on Mastodon: <a href="https://mastodonapp.uk/@limeparallelogram" rel="me">&#64;limeparallelogram&#64;mastodonapp.uk</a></div>
    <div class="social_link"><img src="/assets/logo/social/matrix.svg" alt="Matrix Logo">Message me on Matrix: &#64;will:limeparallelogram.uk</div>
    <div class="social_link"><img src="/assets/logo/social/email.png" alt="Email Icon">Email: <a href="mailto:will@limeparallelogram.uk">will&#64;limeparallelogram.uk</a></div>
    <p>You can also find me on LinkedIn (although I know this isn't exactly FOSS):</p>
    <div class="social_link"><img src="/assets/logo/social/linkedin.png" alt="LinkedIn Icon">LinkedIn: <a href="https://www.linkedin.com/in/will-hall-a64874236/">will-hall-a64874236</a></div>
    <p>Checkout all my programming projects and contributions:</p>
    <div class="social_link"><img src="/assets/logo/social/gitlab.svg" alt="GitLab Logo">GitLab: <a href="https://gitlab.com/Lime-Parallelogram">Lime-Parallelogram</a></div>
    <div class="social_link"><img src="/assets/logo/social/github.svg" alt="GitHub Logo">GitHub: <a href="https://github.com/Lime-Parallelogram">Lime-Parallelogram</a></div>
</div>