@import "../../variables.scss";

:host(.palette1) {
    --section_primary: #{$primary1};
    --section_secondary: #{$secondary1};
    --line_colour: #{transparentize($primary1, $amount: 0.6)};
}

:host(.palette2) {
    --section_primary: #{$primary2};
    --section_secondary: #{$secondary2};
    --line_colour: #{transparentize($primary2, $amount: 0.6)};
}

div.timeline_outer {
    padding: 2vw;
    position: relative;

    /* Gradient fade out at edges */
    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 2vw;
        bottom: 0;
        pointer-events: none;
        background-image: linear-gradient(to right, rgba(255,255,255,0), var(--section_secondary) 85%);
        width: 30px;
    }
    
    &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 2vw;
        bottom: 0;
        pointer-events: none;
        background-image: linear-gradient(to left, rgba(255,255,255,0), var(--section_secondary) 85%);
        width: 30px;
    }

    /* Main timeline container - scrollable */
    .timeline_main {
        display: flex;
        align-items: flex-end;
        overflow-x: scroll;
        overflow-y: hidden;

        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        scroll-padding: 30px;
    }

    /* Timeline elements */
    .timeline_entry {
        position: relative;
        margin: 0 50px; 

        flex: 0 0 auto;
        width: 400px;
        max-width: 80%;

        transition-timing-function: ease-in;
        transition: 1s;
        scroll-snap-align: start;

        &:last-child { // Last element needs to snap to the end
            scroll-snap-align: end;
        }

        &.is_hidden {
            opacity: 0;
            transform: translateY(75%); // Cannot translate more than 75% as it breaks scrolling
        }

        .timeline_content_title {
            background-color: var(--section_primary);
            border-radius: 6px;
            padding: 5px;
            text-align: center;
            color: white;
            font-size: 24px;

            margin-bottom: 10px;
            transform: translateX(20px);
        }

        .timeline_content_outer {
            border-bottom: 4px solid var(--line_colour);
        }

        .timeline_circle {
            border-radius: 50%;
            width: 16px;
            height: 16px;
            border: 4px solid var(--line_colour);
            margin-left: 50%;
            transform: translateX(-12px);
        }

        .timeline_stalk {
            width: 50%;
            height: 20px;
            border-right: 4px solid var(--line_colour);

            transform: translateX(-2px);
        }
    }

    .timeline_line {
        border-top: 2px solid var(--section_primary);
        transform: translateY(-12px);
    }

    /* Buttons to move timeline with a mouse */
    .timeline_controls_outer {
        margin: 0px 50px;
        display: flex;
        justify-content: space-between;

        .arrow_button {
            background: none;
            border: none;

            transition: 0.5s;
            font-size: 40px;
            color: var(--section_primary);
            cursor: pointer;

            &.left:hover {
                transform: translateX(-8px);
            }

            &.right:hover {
                transform: translateX(8px);
            }
        }
    }
}