<div class="timeline_outer">
    <div class="timeline_main" (scroll)="onScroll()" #timeline_main>
        <div class="timeline_entry" *ngFor="let entry of myEntries" [class.is_hidden]="!entry.shown">
            <div class="timeline_content_outer">
                <div class="timeline_content_main">
                    {{entry.content}}
                </div>
                <div class="timeline_content_title">{{entry.title}}</div>
            </div>

            <div class="timeline_stalk"></div>
            <div class="timeline_circle"></div>
        </div>
    </div>

    <div class="timeline_line"> <!-- Border-top used to create line -->
        <div class="timeline_controls_outer">
            <input class="arrow_button left" type="button" value="<" (click)="clickScroll(-480)">
            <input class="arrow_button right" type="button" value=">" (click)="clickScroll(480)">
        </div>
    </div>
</div>