<div class="carousel_outer">
    <div class="carousel_box" (scroll)="updateScroll()" #carousel_scrollable>
        <ng-content></ng-content>
    </div>
</div>

<div class="carousel_controls">
    <input class="arrow_button left" type="button" value="<" (click)="clickScroll(-1)">
    <div class="position_indicator">
        <div class="marker_dot" *ngFor="let item of [].constructor(total_cards); let i = index" [class.filled]="i==focused_card" (click)="clickScroll(i-focused_card)"></div>
    </div>
    <input class="arrow_button right" type="button" value=">" (click)="clickScroll(1)">
</div>