@import "../../variables.scss";

:host(.palette1) {
    --section_primary: #{$primary1};
    --section_secondary: #{$secondary1};
    --line_colour: #{transparentize($primary1, $amount: 0.6)};
}

:host(.palette2) {
    --section_primary: #{$primary2};
    --section_secondary: #{$secondary2};
    --line_colour: #{transparentize($primary2, $amount: 0.6)};
}

.carousel_box {
    display: flex;
    padding: 20px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-right: 30px;

    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.carousel_outer {
    position: relative;
    
    /* Create fade-out effect at edges */
    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background-image: linear-gradient(to right, rgba(255,255,255,0), white 85%);
        width: 30px;
    }
    
    &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        pointer-events: none;
        background-image: linear-gradient(to left, rgba(255,255,255,0), white 85%);
        width: 30px;
    }
}


/* Buttons to move timeline with a mouse */
.carousel_controls {
    margin: 0px 50px;
    display: flex;
    justify-content: space-between;

    .arrow_button {
        background: none;
        border: none;

        transition: 0.5s;
        font-size: 40px;
        color: var(--section_primary);
        cursor: pointer;

        &.left:hover {
            transform: translateX(-8px);
        }

        &.right:hover {
            transform: translateX(8px);
        }
    }

    /* Indicates what card is currently in focus */
    .position_indicator {
        display: flex;
        align-items: center;

        .marker_dot {
            border: 1px solid var(--line_colour);
            border-radius: 50%;
            width: 12px;
            height: 12px;
            margin: 2px 5px;

            @include phone() {
                width: 5px;
                height: 5px;
            }

            &.filled {
                background-color: var(--section_primary);
            }
        }
    }
}