@import "../../variables.scss";

:host {
    scroll-snap-align: center;
    display: flex;
}

.card_outer {
    border-radius: 18px;
    text-align: left;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin: 0 15px;

    position: relative;
    display: block;
    width: 400px;
    padding: 35px;
    aspect-ratio: 4/5;
    transition-duration: 0.5s;
    cursor: pointer;

    @include phone() {
        width: 70vw;
    }

    &:hover {
        transform: translate(10px, 12px);
    }


    .card_photo {
        text-align: left;

        .image {
            width: 64px;
            height: 64px;

            img {
                margin-left: 8px;
                width: 64px;
            }
        }
    }

    .card_inner {
        display: flex;
        flex-direction: column;
        padding: 8px;

        /* Main card title */
        h5 {
            font-family: "Rethink Sans", sans-serif;
            text-align: left;
            font-size: 28px;
            font-weight: 400;
            margin: 0;
            margin-top: 5px;
        }


        /* Card subtitle */
        h6 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 15px;
            color: #969696;
            
            margin-top: 15px;
            margin-bottom: 0;

            &.date {
                margin: 0;
                font-size: 11px;
            }
        }

        /* Tags: used with projects to show relevant skills */
        div.tags {
            display: flex;
            flex-wrap: wrap;

            .tag {
                background-color: transparentize($color: $primary1, $amount: 0.8);
                color: $primary1;
                
                padding: 3px 4px;
                font-size: 14px;
                border-radius: 5px;
                border: $primary1 solid 1px;
                display: block;
                margin: 1px 5px;
                white-space: nowrap;
            }
        }

        /* Images with links to external sites */
        .card_links {
            margin-top: auto;
            display: flex;
            justify-content: flex-end;

            img {
                width: 24px;
            }

            img:hover {
                opacity: 0.4;
            }
        }
    }
}