<div class="card_outer">
    <div class="card_inner">
        <div class="card_photo">
            <div class="image"><img src="{{image}}" alt="{{image_alt}}"></div>
        </div>

        <h5>{{title}}</h5>
        <h6>{{subtitle}}</h6>
        <h6 class="date">{{date}}</h6>
        <p><ng-content></ng-content></p>

        <div class="tags">
            <span class="tag" *ngFor="let tag of tags">{{tag}}</span>
        </div>

        <div class="card_links">
            <a href="{{link.url}}" *ngFor="let link of this.links"><img src="{{link.icon}}" alt="{{link.linkName}}"></a>
        </div>
    </div>
</div>