$secondary1: #d9dd92;
$primary1: #1A535C;

$secondary2: #ced373;
$primary2: #14080e;

$secondary3: #bec445;
$primary3: #102838;


/* Responsive Styling Breakpoints */
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin ultrawide {
    @media (min-width: 2000px) {
        @content
    }
}